/*body section*/
body{
   background: #EDF2DF;
   font-family: monospace;
   
}
/* Home section */
.home #home{
    background-image: url(../e2/assets/h_img.jpg);
    background-size: contain;
    text-align: center;
    color: #ffffff;
    height: 30%;
    width: 100%;
}
/*about*/
.about #about{
    text-align: center;
    background: #EDF2DF;
    color: black;
    height: 20%;
    width: 100%;

    
    
}
/*services*/
.services #services{
   background-image: url(../e2/assets/s_img.jpg);
   text-align: center;
   color: #ffffff;
   height: 20%;
   width: 100%
}
/*do*/
.do #do{
   text-align: center;
   align-content: center;
   height: 20%;
   width: 100%;
}
/*folio*/
.portfolio #portfolio{
   text-align: center;
   align-content: center;
}

/*contact*/
.contact #contact{
    background-image:url(/assets/c_image.jpg);
    background-size: cover;
    height: 30%;
    width: 100%;
    text-align: center;
}
footer{
    text-align: center;
    align-content: center;

}


